@font-face {
  font-family: 'Myriad Pro';
  src: url('MyriadPro-Regular.eot');
  src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/MyriadPro-Regular.woff') format('woff'),
    url('font/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Myriad Pro';
  margin: 0 !important;
  padding: 0 !important;
  background-color: #222222;
}


h1 {
  padding: 20% 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
  color: white;
}

strong {
  color: #fff;
}

section {
  height: 100vh !important;
  max-width: 100vw !important;
  color: white;
  position: relative;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.75);
    transform: rotate(12deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}

@keyframes rotateP {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* SLIDE 13 */

section#one-s13 {
  background-image: url("img/background-slide13.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#people1-s13 {
width: 15%;
}

#texte-s13 {
	padding-top: 1%;
  font-size: 2.2em;
}

#people2-s13 {
width: 15%;
}

#fusee-s13{
	
}

/* SLIDE 99 */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes move {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.75);
    transform: rotate(12deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}

@keyframes rotateP {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
section#one-s99 {
  background: url("./img/slide99/space-bg.png") fixed no-repeat;
  background-size: cover;
}

section#two-s99 {
  opacity:0;
}

section#three-s99 {
  opacity:0;
}

#fusee img{
  width:12%;
  height:auto;
  padding-top:12%;
}

#fusee1-s99 img{
  margin-left: -70vw;
  margin-top: -50vh;
  width: 100px;
}

#fusee2-s99 img{
  margin-left: 70vw;
  margin-top: -50vh;
  width: 100px;
}

#planete1 img{
  padding-top:4%;
  padding-left:10vw;
  width:20%;
  height:auto;
  bottom:50%;
  float:left;
  animation-name:rotate;
  animation-duration:70s;
  animation-iteration-count: infinite;
}

#planete2 img{
  padding-top:3%;
  width:20%;
  height:auto;
  bottom:50%;
  float:right;
  animation-name:rotateP;
  animation-duration:60s;
  animation-iteration-count: infinite;
}

#planete3 img{
  padding-left:-30vw;
  padding-top:2%;
  width:13%;
  height:auto;
  bottom:50%;
  animation-name:move;
  animation-duration:25s;
  animation-iteration-count: infinite;
}

#fusee1-s99 {
  position: absolute;
  width: 80%;
  z-index: 9999;
}

/* SLIDE 14 */

section#one-s14 {
  background-image: url("img/fond_espace.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh !important;
}

#onde img{
  width:23%;
}

#satelitediv img{
  width:23%;
  margin-top:300px;
  float:left;
  padding-left:15%;
  animation: move 10s infinite;
}

#station img{
  width:27%;
  margin-top:220px;
  float:right;
  padding-right:13%;
  animation: move 20s infinite;
}

#texte-s14 {
  font-size: 2.5em;
}

#bul1 img{
  position: absolute;
  width: 25%;
  margin-top: 140px;	
  left: 10%;
  z-index: 3000;
}
#bul2 img{
  position: absolute;
  width: 25%;
  margin-top: 10px;	
  margin-left: 11%;
  z-index: 3000;
}

#bul3{
	position: absolute;
  width: 25%;
  margin-top: 10%;	
  left: 10%;
  z-index: 3000;
}

#bul4{
	position: absolute;
  width: 25%;
  margin-top: 1%;
	margin-left: 48%;
  left: 10%;
  z-index: 3000;
}

/* SLIDE 15 */

section#one-s15 {
  background-image: url("img/background-slide15.png");
  background-size: 90%;
  background-position: 200% 50%;
  background-repeat: no-repeat;
}

#fusee-s15{
  position: fixed;
  z-index: 100;
  margin-top: 60px;
  margin-right: 60%;
  animation: rotate_f 10s infinite;
}

#fusee-s15 img{
  width: 130%;
}

#control-s15 {
  float: left;
}

@keyframes rotate_f {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.espace-s15 {
  float: left;
  background-image: url("img/fond_espace.png");
  background-size: cover;
  height: 100%;
  width: 50%;
}

.planete-s15{
  margin-top: 10%;
  float: right;
  margin-right: 10%;
  animation: rotate 60s infinite;
  width: 15%;
}

#people-s15{
  width: 40%;
  margin-left: 20%;
  position: absolute;
}

#txt-s15{
  position: absolute;
  width: 35%;
  margin-top: 400px;	
  margin-left: 5%;
  z-index: 3000;
}

#txt2-s15{
  position: absolute;
  width: 25%;
  margin-top: 280px;	
  margin-left: 10%;
	z-index: 3000;
}

/* SLIDE 16 */

@keyframes move {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.5);
    transform: rotate(10deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}
@keyframes moveneg {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.85);
    transform: rotate(-10deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}

#texte1-s16, #texte2-s16 {
  font-size: 2.5em;
}

#texte1-s16 {
  margin-top: 1vh;
}

#texte2-s16 {
  margin-top: 80vh;
}

section#one-s16 {
  background-image: url("img/background-slide16.png");
  background-size: 200%;
  background-size: cover;
}

#espace-s16{
  opacity:0;
  text-align:center;
  margin-top:60px;
  margin-left:10%;
  height: 500px;
  width: 500px;
  float:left;
}

#espace-s16 img{
  margin-left: 10vw;
  margin-top: 5vh;
  width:80%;
  position:absolute;
}

.control-s16{
  text-align:center;
  float:right;
  width:50%;
  height:auto;
}

.control-s16 img{
  position: absolute;
  width:30%;
  margin-left: -60%;
  margin-top: 20vh;
}

/* SLIDE 17 */

section#one-s17{
  background-image: url("img/fond_espace.png");
  background-size: cover;
}

#planete1-s17{
  float: left;
  margin-top: 100px;
  margin-left: -300px;
  width: 60%;
}

#planete2-s17{
  margin-left: 400px;
  animation: rotate 100s infinite;
  width: 8%
}

#fusee-s17{
  margin-top: 355px;
  float: right;
  width: 20%;
}

#texte-s17 {
  font-size:2em;
	white-space: nowrap;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SLIDE 18 */

section#one-s18 {
    background-image: url("img/background-slide18.png");
    background-size: cover;
}

#fusee-s18{
  animation: rotate_f 10s infinite;
  width: 60px;
  margin-top: 25vh;
}

#texte1-s18{
  font-size:2.5em;
}

#texte2-s18{
  font-size:2.5em;
}

/* SLIDE 19 */

section#one-s19 {
    background-image: url("img/fond_espace.png");
    background-size: cover;
}

#meteorites-s19{
  width: 700px;
}

#fusee-s19 {
  width: 100px;
}

#fusee-it{
  width:70px;
}

#explosion{
  width:150px;
}

/* SLIDE 20 */

section#one-s20 {
  background-image: url("img/slide20/space-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.espace-slide20 {
  height: 100vh;
  width: 100vw;
}

#alien1-s20 {
  position: absolute;
  margin-top: 40vh;
  margin-left: 40vw;
  width: 40%;
  z-index: -10;
}

#alien2-s20 {
  position: absolute;
  width: 5vw;
  margin-top: -60vh;
  margin-left: -10vw;
  animation: rotate_g 10s infinite;
}

#texte-s20{
  font-size: 2em;
  color: #000000;
}

@keyframes rotate_g {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

/* SLIDE 21 */

section#one-s21 {
  background-image: url("img/background-slide21.png");
  background-size: cover;
}

#planete-s21{
  width:20%;
  margin-top: 240px;
}

/* SLIDE 22 */

section#one-s22 {
  background-image: url("img/fond_espace.png");
  background-size: cover;
}

#fusee-s22{
  margin-top: 200px;
  padding-bottom: 100px;
  margin-left: 30px;
}

@keyframes rotate_g {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(-45deg);
  }

}
#planete1-s22 {
  margin-left: -1400px;
	width:97%;
}

#texte-s22 {
  font-size: 2.5em;

}
/* SLIDE 23 */

section#one-s23 {
    background-image: url("img/background-slide23.png");
    background-size: cover;
}

#texte-s23{
	position: absolute;
   margin-left:30%;
	font-size: 2.2em;
}

#fusee-s23{
  width: 400px;
  float: left;
  margin-left: 20px;
  margin-top: 60px;

}

#fusee2-s23{
  width: 50px;
  float: left;
  margin-left: 20px;
  margin-top: 60px;
  opacity: 0;

}

#station-final{
	position: absolute;
	margin-left: 10%;
	margin-top: 12%;
	width: 10%;
}
#bravo{
	position: absolute;
	margin-left: -2%;
	margin-top: 18%;
	width: 15%;
}

#panneau{
  float: right;
  margin-right: 10%;
}

#nuage1{
  width: 50px;
  float: left;
  margin-left: 20px;
  margin-top: 60px;

}

#nuage2{
  width: 50px;
  float: left;
  margin-left: 20px;
  margin-top: 60px;

}

#nuage3{
  width: 50px;
  float: left;
  margin-left: 20px;
  margin-top: 60px;

}

#astronaute-s23{
  width: 40%;
}