html, body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #222222;
}

h1 {
  padding: 20% 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
  color: white;
}

strong {
  color: #fff;
}

section {
  height: 100vh !important;
  max-width: 100vw !important;
  color: white;
  position: relative;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.75);
    transform: rotate(12deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}

@keyframes rotateP {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* SLIDE 13 */

section#one-s13 {
  background-image: url("img/background-slide13.jpg");
  background-size: cover;
}

#texte-s13 {
  font-size: 3em;
}

/* SLIDE 14 */

section#one-s14 {
  background-image: url("img/fond_espace.png");
  background-size: cover;
}

/* SLIDE 15 */

section#one-s15 {
  background-image: url("img/background-slide15.png");
  background-size: 90%;
  background-position: 200% 50%;
  background-repeat: no-repeat;
}

#fusee-s15{
  position: fixed;
  z-index: 100;
  margin-top: -40px;
  margin-right: 60%;
  animation: rotate_f 10s infinite;
}

#fusee-s15 img{
  width: 130%;
}

#control-s15 {
  float: left;
}

@keyframes rotate_f {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.espace-s15 {
  float: left;
  background-image: url("img/fond_espace.png");
  background-size: cover;
  height: 100%;
  width: 50%;
}

.planete-s15{
  margin-top: 10%;
  float: right;
  margin-right: 10%;
  animation: rotate 60s infinite;
  width: 15%;
}

#people-s15{
  width: 40%;
  position: absolute;
}

#txt-s15{
  position: absolute;
  font-size: 20pt;
  margin-left: 10%;
}

#txt2-s15{
  font-size: 20pt;
  margin-left: 120%;
  width: 100%;
}

/* SLIDE 16 */

@keyframes move {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.5);
    transform: rotate(10deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}
@keyframes moveneg {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.85);
    transform: rotate(-10deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}

section#one-s16 {
  background-image: url("img/background-slide16.png");
  background-size: 200%;
  background-size: cover;
}


#espace-s16{
  opacity:0;
  text-align:center;
  margin-top:60px;
  margin-left:10%;
  height: 500px;
  width: 500px;
  float:left;
}

#espace-s16 img{
  margin-left: 90%;
  margin-top: 30%;
  width:80%;
  position:absolute;
}

.control-s16{
  text-align:center;
  float:right;
  width:50%;
  height:auto;
}

.control-s16 img{
  position: absolute;
  width:30%;
  margin-left: -60%;
  margin-top: 200px;
}

#texte-s16{
  font-size:3em;
}

/* SLIDE 17 */

section#one-s17{
  background-image: url("img/fond_espace.png");
  background-size: cover;
}

#planete1-s17{
  float: left;
  margin-top: 100px;
  margin-left: -300px;
  width: 60%;
}

#planete2-s17{
  margin-left: 400px;
  animation: rotate 100s infinite;
  width: 8%
}

#fusee-s17{
  margin-top: 355px;
  float: right;
  width: 20%;
}

#texte-s17 {
  font-size:3em;
  margin-right: 200px;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SLIDE 18 */

section#one-s18 {
    background-image: url("img/background-slide18.png");
    background-size: cover;
}

#fusee-s18{
  animation: rotate_f 10s infinite;
  width: 80px;
  margin-top: 5%;
}

#texte1-s18{
  font-size:3em;
}

#texte2-s18{
  font-size:3em;
}

/* SLIDE 19 */

section#one-s19 {
    background-image: url("img/fond_espace.png");
    background-size: cover;
}

#meteorites-s19{
  width: 700px;
}

#fusee-s19 {
  width: 100px;
}

#fusee-it{
  width:70px;
}

#explosion{
  width:150px;
}

/* SLIDE 20 */

section#one-s20 {
  background-image: url("img/slide20/background-slide20.jpg");
  background-size: cover;
}

#planete1-s20{
  animation: rotate 60s infinite;
  margin-left: 460px;
}

#planete2-s20{
  margin-left: 15px;
  margin-top: 300px;
  padding-bottom: 100px;
  margin-left: 50px;
  animation: rotate 60s infinite;
}

#alien1-s20 {
  margin-top: 200px;
  padding-bottom: 100px;
  margin-left: 70px;
  margin-top: 30px;
  animation: rotate_f 10s infinite;
}

#alien2-s20 {
  margin-right: 200px;
  animation: rotate_g 10s infinite;
}

#texte-s20{
  font-size: 2em;
  color: #000000;
}

@keyframes rotate_g {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

/* SLIDE 21 */

section#one-s21 {
  background-image: url("img/background-slide21.png");
  background-size: cover;
}

#planete-s21{
  width:20%;
  margin-top: 240px;
}

/* SLIDE 22 */

section#one-s22 {
  background-image: url("img/fond_espace.png");
  background-size: cover;
}

#fusee-s22{
  margin-top: 200px;
  padding-bottom: 100px;
  margin-left: 30px;
  animation: rotate_g 10s infinite;
}

@keyframes rotate_g {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(-45deg);
  }

}
#planete1-s22 {
  margin-left: -800px;
}

#texte-s22 {
  font-size: 2.5em;

}
/* SLIDE 23 */

section#one-s23 {
    background-image: url("img/background-slide23.png");
    background-size: cover;
}

#fusee-s23{
  width: 400px;
  float: left;
  margin-left: 20px;
  margin-top: 60px;

}