html, body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #222222;
}

h1 {
  padding: 20% 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
  color: white;
}

strong {
  color: #fff;
}

section {
  height: 100%;
  color: white;
  position: relative;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.75);
    transform: rotate(12deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}

@keyframes rotateP {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* SLIDE 15 */

section#one-s15 {
   background-color: #004970;
}

#fusee-s15{
  position: fixed;
  z-index: 100;
  margin-right: 60%;
  animation: rotate_f 20s infinite;
}

#fusee-s15 img{
  width: 120%;
}

#control-s15 {
  float: left;
}

@keyframes rotate_f {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.espace-s15 {
  float: left;
  background-image: url("img/fond_espace.png");
  background-size: cover;
  height: 100%;
  width: 50%;
}

.planete-s15{
  margin-top: 10%;
  float: right;
  margin-right: 10%;
  animation: rotate 60s infinite;
  width: 15%;
}

#people-s15{
  width: 50%;
  position: absolute;
}

#texte_a{
  position: absolute;
  font-size: 50pt;
  margin-left: 10%;
}

#texte_b{
  font-size: 50pt;
  margin-left: 90%;
}

/* SLIDE 16 */

@keyframes move {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.5);
    transform: rotate(10deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}
@keyframes moveneg {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  50% {
    transform: scale(0.85);
    transform: rotate(-10deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}

section#one-s16 {
  background-color: #004970;
}

section#two-s16 {
  opacity: 0;
}

section#three-s16 {
  opacity: 0;
}

section#four-s16 {
  opacity: 0;
}

#espace-s16{
  opacity:0;
  background-image: url("img/fond_espace.png");
  background-size: cover;
  text-align:center;
  margin-top:60px;
  margin-left:10%;
  height: 500px;
  width: 500px;
  border-radius:360px;
  float:left;
  animation-name:move;
  animation-duration:20s;
  animation-iteration-count: infinite;
}

#espace-s16 img{
  margin-left: 100px;
  margin-top: 120px;
  width:60%;
  animation-name:moveneg;
  animation-duration:10s;
  animation-iteration-count: infinite;
}

.control-s16{
  text-align:center;
  float:right;
  width:50%;
  height:auto;
}

.control-s16 img{
  width:90%;
  margin-top: -100px;
}

#texte-s16{
  font-size:3em;
}

/* SLIDE 17 */

section#one-s17{
  background-image: url("img/fond_espace.png");
  background-size: cover;
}

#planete-s17{
  margin-left: -900px;
  width: 70%;
  animation: rotate 300s infinite;
}

#fusee-s17{
  margin-top: 200px;
  float: right;
  width: 20%;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
